/*
    PAGE LAYOUT
*/

* {
	padding: 0;
	margin: 0;
}

.card {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

/*
    Top-bar Layout
*/

.top-bar {
	width: 100vw;
	height: 80px;
	background-color: #fff;
	border: none;
	position: fixed;
	z-index: 9999;
}

.top-bar .info-card {
	height: 35%;
	background-color: #325ed1;
}

.top-bar .info-card,
.top-bar .logo-board {
	width: 100%;
	border: none;
}

.top-bar .logo-board {
	height: 65%;
	background-color: #fff;
}

main {
	position: relative;
	top: 120px;
	padding-left: 15%;
	padding-right: 15%;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	main {
		padding-left: 15px;
		padding-right: 15px;
		top: 100px;
	}
}

fieldset {
	margin-bottom: 30px;
	border: none;
	padding: 20px;
}

.fieldset {
	margin-bottom: 30px;
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
}

fieldset legend {
	padding: 0 15px;
	border: 1px dashed #ccc;
	margin-bottom: 5px;
}
