/*
    PAGE LAYOUT
*/

.card {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

/*
    top-nav-bar Layout
*/

.top-nav-bar {
	width: 100vw !important;
	height: 100px !important;
	background-color: #fff !important;
	border: none !important;
	position: fixed !important;
	z-index: 9999 !important;
}

.top-nav-bar .info-card {
	height: 35% !important;
	background-color: #003262 !important;
	/*background: linear-gradient(180deg, #003262 0, #002549);*/
}

.top-nav-bar .info-card,
.top-nav-bar .logo-board {
	width: 100% !important;
	border: none !important;
}

.top-nav-bar .logo-board {
	height: 65% !important;
	background-color: #fff !important;
}

main {
	padding-left: 15%;
	padding-right: 15%;
	color: #303030;
	margin-bottom: 50px;
	width: 100%;
}

.main-content {
	position: relative;
	height: 100vh;
	top: 150px;
}

label {
	font-size: 16px;
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
	color: #353535;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	main {
		padding-left: 15px;
		padding-right: 15px;
	}

	label {
		font-size: 13px;
		font-weight: bolder;
	}

	fieldset legend {
		font-size: 16px;
	}

	h1 {
		font-size: 30px;
		padding-bottom: 15px;
		font-weight: 700;
	}
}

@media only screen and (min-width: 768px) {
	h1 {
		font-size: 40px;
		padding-bottom: 15px;
		font-weight: 700;
	}

	label {
		font-size: 14px;
		font-weight: bolder;
	}

	fieldset legend {
		font-size: 16px;
	}
}
.fieldset {
	margin-bottom: 30px;
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
}

fieldset legend {
	margin-bottom: 25px;
	padding: 5px 0px;
	color: #202020;
	font-weight: bolder;
}

/*fieldset > div {
	margin-bottom: 25px;
	padding: 5px 0px;
	color: #202020;
	font-weight: bolder;
}*/

.input-required {
	color: red;
}
