a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

[hidden] {
	display: none;
}

*,
::after,
::before {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before,
p:after,
p:before {
	content: "";
	content: none;
}

input,
select,
.photo-upload-area {
	max-width: 20rem !important;
	font-size: 14px !important;
	line-height: 1.5 !important;
}

input,
select {
	padding: 0.40625rem 0.6875rem !important;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 14px !important;
}

b,
strong {
	font-weight: 700;
}

.hide {
	display: none !important;
}
.display {
	display: block !important;
}

body,
html {
	height: auto;
	min-height: 100vh;
}

body {
	background: #fff;
	/*was 000*/
	font-family: ulp-font, -apple-system, BlinkMacSystemFont, Roboto, Helvetica,
		sans-serif;
	font-weight: 400;
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	line-height: 1;
	/*background-color: #fff !important;*/
	color: #282828 !important;
	font-size: 14px !important;
	height: 100vh !important;
}

#bg-img {
	background-image: url("../images/bg-01.jpg");
	width: 100% !important;
	height: 100% !important;
	position: fixed;
	background-size: cover;
}

a {
	color: #004d99 !important;
	/*004d99;*/
	text-decoration: none !important;
	line-height: 1.5;
}

a.active {
	font-weight: 700 !important;
}

a:hover {
	font-weight: bolder !important;
	cursor: pointer;
}

footer {
	background-color: #000;
	display: block;
	position: relative;
	padding: 0.5rem 0;
	width: 100%;
	color: #fff;
	z-index: 10;
}

.footer ul {
	text-align: center;
}

.footer ul li {
	display: inline-block;
	margin: 0 4px;
}

.footer a {
	color: #fff;
}

.footer ul li::after {
	margin-left: 4px;
	content: "|";
}

.footer ul li:last-child::after {
	content: "";
}

/*
    PAGE LAYOUT
*/

.card {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

/*
    top-nav-bar Layout
*/

header {
	width: 100% !important;
}

.top-nav-bar,
.index-page {
	width: 100% !important;
	background-color: #fff !important;
	border: none !important;
	z-index: 9 !important;
}

.top-nav-bar {
	height: 100px !important;
	position: fixed !important;
}

.index-page {
	height: 80px !important;
	background-color: #003262 !important;
	position: relative !important;
}

.top-nav-bar .info-card {
	height: 35% !important;
	background-color: #003262 !important;
	background: linear-gradient(180deg, #003262 0, #002549);
}

.top-nav-bar .info-card,
.top-nav-bar .logo-board {
	width: 100% !important;
	border: none !important;
}

.top-nav-bar .logo-board {
	height: 65% !important;
	background-color: #fff !important;
}

.info-card {
	width: 100% !important;
	display: flex !important;
	flex-direction: row !important;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}

main {
	color: #303030;
	margin-bottom: 50px;
	width: 100% !important;
}

.main-content {
	position: relative;
	height: 100vh !important;
	width: 100% !important;
	top: 150px;
}

.main-content::after {
	margin: 0;
	content: "";
}

label {
	font-size: 16px;
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
	color: #353535;
}

.fieldset,
.right-section,
.fieldset-col,
.contact-area {
	margin-bottom: 30px !important;
	border-radius: 5px;
}

.fieldset,
.right-section,
.fieldset-col,
.page-control {
	border-top: 1px solid #ccc;
}

.fieldset,
.fieldset-col,
.page-control {
	padding: 30px 0px !important;
}

.right-section {
	padding: 30px 20px;
}

.contact-area {
	border: 1px solid #ccc;
	padding: 10px 20px !important;
}

.fieldset {
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between;
}

.fieldset-col {
	display: flex !important;
	flex-direction: column !important;
	justify-content: space-between;
}

.fieldset > .field-content {
	float: left !important;
	padding: 0;
}

fieldset legend {
	margin-bottom: 25px !important;
	padding: 0;
	color: #202020;
	font-weight: bolder;
}

.input-required {
	color: red;
}

.form-control-login,
.form-btn-login {
	padding: 12px !important;
}

.form-btn-login {
	max-width: 280px !important;
	min-width: 280px !important;
	width: 280px !important;
	margin-top: 10px !important;
	background-color: #003262 !important;
	border: 1px solid #003262 !important;
	border-color: transparent !important;
	font-size: 16px !important;
}

.form-btn-login:hover {
	background-color: #004d99 !important;
	border: 1px solid #004d99 !important;
	border-color: transparent !important;
}

.yes-disability,
.not-english-native {
	display: none !important;
}

.radio-btn {
	margin-right: 10px;
	padding: 5px 8px;
	border: 1px solid #ccc;
	border-radius: 7px;
}

.photo-display {
	width: 300px;
	height: 130px;
	background: red;
	border-radius: 5px;
	border: 1px solid #aaa;
	background: #f1f1f1;
}

.photo-display > img {
	width: 100% !important;
	height: 100% !important;
	border-radius: 5px;
}

#app-photo {
	border-color: none !important;
	border: 0;
}

/*input,
select {
	text-transform: uppercase;
}*/

.edu-history {
	width: 100% !important;
	/*height: 120px !important;*/
	background-color: #fff !important;
	border: 1px solid #ccc !important;
	border-radius: 5px !important;
	display: flex !important;
	flex-direction: column !important;
}
.edu-history-header {
	width: 100% !important;
	height: 84px !important;
	background-color: #fff !important;
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
}

.edu-history-header-info {
	width: 80% !important;
	height: 100% !important;
	padding: 10px 20px !important;
}

.edu-history-control {
	width: 90px !important;
	height: 50px !important;
	background-color: #e6e6e6 !important;
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	padding: 0 !important;
	margin: 0 !important;
}

.edu-history-footer {
	width: 100% !important;
	height: 36px !important;
	background-color: #ffffb3 !important;
	margin: 0 !important;
	padding: 0 !important;
	display: flex !important;
	flex-direction: row !important;
	padding: 6px 20px !important;
}

.edit-edu-btn,
.delete-edu-btn {
	width: 50% !important;
	padding: 10px !important;
	border: none !important;
	border-radius: 0px !important;
}
.edit-edu-btn:hover,
.delete-edu-btn:hover {
	background-color: #ff9900 !important;
}
.delete-edu-btn:hover {
	border-top-right-radius: 5px !important;
}

.form-checked::after {
	content: url("../images/icons8-checkmark-24.png");
	position: relative;
	width: 5px;
	height: 5px;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	main {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	label {
		font-size: 13px;
		font-weight: bolder;
	}

	fieldset legend {
		font-size: 16px;
	}

	h1 {
		font-size: 30px;
		padding-bottom: 15px;
		font-weight: 700;
	}
}

@media only screen and (min-width: 768px) {
	h1 {
		font-size: 40px;
		padding-bottom: 15px;
		font-weight: 700;
	}

	label {
		font-size: 14px;
		font-weight: bolder;
	}

	fieldset legend {
		font-size: 18px;
	}

	.main-content,
	.info-card,
	.logo-board {
		padding: 0 110px !important;
	}

	fieldset > .field-header {
		width: 100% !important;
		max-width: 250px !important;
		margin-right: 15px;
	}

	fieldset > .field-content {
		width: 100% !important;
		margin-left: 15px;
	}
}
